<h2>{{ exam.name }}</h2>

<div style="display:flex">

<!-- LEFT SIDE : QUESTIONS -->

<div style="width:70%">

<form method="post">
{% csrf_token %}

{% for q in questions %}

<div id="q{{ forloop.counter }}" style="margin-bottom:25px">

<p><b>Q{{ forloop.counter }}.</b> {{ q.question.question_text }}</p>

<!-- QUESTION IMAGE -->

	<p>
		<strong>Question ID:</strong> {{ q.question.id }}
	</p>

	<p>
		<strong>Mode:</strong> {{ q.question.question_mode }}
	</p>

	<p>
		<strong>Image Path:</strong> {{ q.question.question_image }}
	</p>

	{% if q.question.question_image %}
	<img src="{{ q.question.question_image.url }}" width="350">
		{% else %}
		<p style="color:red;">No image found for this question.</p>
		{% endif %}

		<label>
<input type="radio" name="q{{ q.question.id }}" value="A">

{{ q.question.option_a_text }}

{% if q.question.option_a_image %}
<br>
<img src="{{ q.question.option_a_image.url }}" width="200">
{% endif %}

</label><br><br>


<label>
<input type="radio" name="q{{ q.question.id }}" value="B">

{{ q.question.option_b_text }}

{% if q.question.option_b_image %}
<br>
<img src="{{ q.question.option_b_image.url }}" width="200">
{% endif %}

</label><br><br>


<label>
<input type="radio" name="q{{ q.question.id }}" value="C">

{{ q.question.option_c_text }}

{% if q.question.option_c_image %}
<br>
<img src="{{ q.question.option_c_image.url }}" width="200">
{% endif %}

</label><br><br>


<label>
<input type="radio" name="q{{ q.question.id }}" value="D">

{{ q.question.option_d_text }}

{% if q.question.option_d_image %}
<br>
<img src="{{ q.question.option_d_image.url }}" width="200">
{% endif %}

</label>

<hr>

</div>

{% endfor %}

<button type="submit">Submit Exam</button>

</form>

</div>


<!-- RIGHT SIDE : NAVIGATION PANEL -->

<div style="width:30%;padding-left:20px">

<h3>Questions</h3>

{% for q in questions %}

<a href="#q{{ forloop.counter }}"
style="
display:inline-block;
width:40px;
height:40px;
text-align:center;
line-height:40px;
border:1px solid black;
margin:5px;
text-decoration:none;
">

{{ forloop.counter }}

</a>

{% endfor %}

</div>

</div>