
<h2>{{ exam.name }}</h2>

<div style="display:flex">

<!-- LEFT SIDE : QUESTIONS -->

<div style="width:70%">

<form method="post">
{% csrf_token %}

{% for q in questions %}

<div id="q{{ forloop.counter }}" style="margin-bottom:25px">

<p><b>Q{{ forloop.counter }}.</b> {{ q.question.question_text }}</p>

<label>
<input type="radio" name="q{{ q.question.id }}" value="A">
{{ q.question.option_a_text }}
</label><br>

<label>
<input type="radio" name="q{{ q.question.id }}" value="B">
{{ q.question.option_b_text }}
</label><br>

<label>
<input type="radio" name="q{{ q.question.id }}" value="C">
{{ q.question.option_c_text }}
</label><br>

<label>
<input type="radio" name="q{{ q.question.id }}" value="D">
{{ q.question.option_d_text }}
</label>

<hr>

</div>

{% endfor %}

<button type="submit">Submit Exam</button>

</form>

</div>


<!-- RIGHT SIDE : NAVIGATION PANEL -->

<div style="width:30%;padding-left:20px">

<h3>Questions</h3>

{% for q in questions %}

<a href="#q{{ forloop.counter }}"
style="
display:inline-block;
width:40px;
height:40px;
text-align:center;
line-height:40px;
border:1px solid black;
margin:5px;
text-decoration:none;
">

{{ forloop.counter }}

</a>

{% endfor %}

</div>

</div>